<% include ../headerAmp %>
<div class="container">
  <div class="layout_ampFxFlyingCarpet_above">
<blockquote>
  <code>amp-fx-flying-carpet</code>
  needs space above at least 75vh and also cannot be the last html element in the page.
</blockquote>
  </div>
  <amp-fx-flying-carpet height="300px">
    <amp-img
      src="https://ampbyexample.com/img/landscape_lake_1280x857.jpg"
      width="1280"
      height="853"
      layput="fixed-height">
    </amp-img>
  </amp-fx-flying-carpet>
  <div class="layout_ampFxFlyingCarpet_below">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse illum quae commodi quis suscipit ratione earum ad optio non, quidem sit tempore eligendi fuga? Molestias, velit id. Hic vel, maxime dignissimos consequatur, perferendis ipsam necessitatibus nostrum quidem debitis sint quas? Possimus amet quidem omnis nisi perferendis saepe beatae nam ex impedit maxime vero blanditiis deserunt, molestiae accusamus dolorem culpa ea quibusdam enim. Iusto cupiditate nihil ea odio fuga? Ipsam, minus? Cum neque ipsam impedit laboriosam eum reprehenderit ullam iure quam. Adipisci facere non maxime distinctio omnis fugiat quis a quos recusandae amet temporibus, minima ea, possimus optio aperiam pariatur eveniet!</p>
  </div>
</div>
<% include ../footerAmp %>