<% include ../headerAmp %>
<div class="container">
    <amp-user-notification
    layout=nodisplay
    id="amp-user-notification"
    data-persist-dismissal="false"
    data-show-if-href="/shouldshow?timestamp=TIMESTAMP&elementId=notification1&ampUserId=cid-value"
    data-dismiss-href="/shouldshow"
    >
    This notification should ALWAYS show - if shouldShow endpoint response was true.
    <a href="#learn-more">Learn more.</a>
    <button on="tap:amp-user-notification.dismiss">Dismiss</button>
    </amp-user-notification>
</div>
<% include ../footerAmp %>