<% include ../header %>
<h1>Add New</h1>
<form method="post" action="/posts/create">
<input type="text" name="title" placeholder="title">
<input type="text" name="body" placeholder="body">

<input type="submit" value="add">
</form>
<% include ../footer %>